<div class="block w-full backdrop-blur-sm bg-input/50 border-t overflow-hidden">
  <div
    class="container px-4 md:px-8 min-h-20 py-8 flex flex-col md:flex-row gap-8 md:gap-4 items-center justify-between text-center"
  >
    <div class="text-muted-foreground text-sm">
      <a
        href="httdivs://github.com/Mottu-ops/FrontendChallenge"
        target="_blank"
        class="transition-all hover:text-foreground cursor-pointer flex flex-col gap-2 justify-center items-center"
      >
        <div
          class="group h-12 w-full flex justify-center items-center text-center"
        >
          <img
            src="./mottu.png"
            width="100/%"
            class="h-12 w-full flex justify-center items-center text-center group-hover:hidden"
          />
          <span
            class="text-3xl h-12 w-fulll hidden group-hover:flex justify-center items-center text-center"
            >🏍️💨💚</span
          >
        </div>
        <span>Front-end Challenge</span>
      </a>
    </div>

    <div class="text-muted-foreground text-sm">
      <a
        href="https://gus.vision/"
        target="_blank"
        class="group transition-all hover:text-foreground cursor-pointer"
      >
        {{ "HOME.CREATED_WITH" | translate }}
        <span class="inline group-hover:hidden">❤️</span
        ><span class="hidden group-hover:inline">💚</span>
        {{ "HOME.BY" | translate }} 🥴 gus</a
      >
    </div>
  </div>
</div>
