<div class="block w-full backdrop-blur-sm bg-input/50 border-t overflow-hidden">
  <div
    class="container px-4 md:px-8 min-h-20 py-8 flex flex-col md:flex-row gap-8 md:gap-4 items-center justify-center text-center"
  >
    <div class="text-muted-foreground text-sm">
      <a
        href="https://gus.vision/"
        target="_blank"
        class="group transition-all hover:text-foreground cursor-pointer"
      >
        {{ "HOME.CREATED_WITH" | translate }}❤️ {{ "HOME.BY" | translate }} 🥴
        gus</a
      >
    </div>
  </div>
</div>
