<div class="w-full min-h-[calc(100dvh-4rem)]">
  <app-topbar-actions
    [type]="'character'"
    [id]="characterId"
    [maxId]="maxCharacters"
  />

  <ng-container *ngIf="!loadingCharacter; else loading">
    <div
      *ngIf="character; else empty"
      class="container px-4 md:px-8 py-4 md:py-8"
    >
      <div class="max-w-2xl mx-auto flex flex-col gap-4">
        <app-card-character-detail [character]="character" />

        <ng-container *ngIf="!loadingLocation; else loadingSmall">
          <app-card-location
            *ngIf="location"
            class="w-full"
            [location]="location"
          />
        </ng-container>

        <ng-container *ngIf="!loadingEpisodes; else loadingSmall">
          <app-character-episodes-card *ngIf="episodes" [episodes]="episodes" />
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'👽😭💔'"
    [title]="'HOME.NO_CHARACTER_FOUND' | translate"
    [subtitle]="'HOME.TRY_SEARCH_AGAIN' | translate"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>

<ng-template #loadingSmall>
  <app-loading [fullscreen]="false" />
</ng-template>
