<div
  class="container px-4 md:px-8 py-8 flex flex-col gap-4 min-h-[calc(100dvh-4rem)]"
  *ngIf="!loadingEpisodes; else loading"
>
  <div
    *ngIf="episodes"
    class="w-full relative overflow-hidden text-foreground transition-all flex flex-col gap-4"
  >
    <h3
      class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
    >
      <span class="text-xl">📽️</span>
      <span>Episodes</span>
    </h3>
    <div
      *ngIf="episodes; else empty"
      class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <ng-container *ngFor="let episode of episodes">
        <app-card-episode [episode]="episode" />
      </ng-container>
    </div>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'🎞️😭💔'"
    [title]="'No episodes found!'"
    [subtitle]="'Please try searching again'"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
