<div
  class="container px-4 md:px-8 p-8 flex flex-col gap-4 min-h-[calc(100dvh-4rem)]"
  *ngIf="!loadingLocations; else loading"
>
  <div class="w-full">
    <h3
      class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
    >
      <span class="text-xl">📌</span>
      <span>Locations</span>
    </h3>
  </div>

  <div
    class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    *ngIf="locations; else empty"
  >
    <ng-container *ngFor="let location of locations">
      <app-card-location
        *ngIf="location; else empty"
        [location]="location"
        [showTitle]="false"
      />
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'🌎😭💔'"
    [title]="'HOME.NO_LOCATIONS_FOUND' | translate"
    [subtitle]="'HOME.TRY_SEARCH_AGAIN' | translate"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
