<div
  id="filtro"
  class="font-poppins fixed md:sticky top-[calc(100%-5rem)] w-full md:top-0 left-0 z-40 overflow-hidden border-t md:border-t-0 border-b-0 md:border-b backdrop-blur-sm bg-background/95"
>
  <div
    class="w-full py-4 flex items-center gap-2 md:gap-4 h-20 overflow-x-auto overflow-y-hidden"
  >
    <div class="container px-2 md:px-8 flex items-center gap-2">
      <div class="flex gap-1 items-center border bg-input/50 rounded-xl p-1">
        <button
          class="group !block btn btn-square w-auto h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          [appTooltip]="'HOME.FAVORITES' | translate"
          [ngClass]="{ '!bg-foreground !text-background': showFavorites }"
          (click)="loadFavoriteItems()"
        >
          <span
            class="text-base absolute -top-2 -right-2 z-20"
            *ngIf="showFavorites"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1 text-xl">❤️</div>
          <div
            class="text-xs shadow mx-auto z-10 size-5 bg-input/50 text-foreground rounded-xl truncate leading-none flex items-center justify-center text-center"
          >
            {{ getFavoritesLength }}
          </div>
        </button>
      </div>

      <div class="relative w-full" [ngClass]="{ disabled: showFavorites }">
        <div class="absolute top-3 left-3 text-xl z-10">🔎</div>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
          placeholder=" {{ 'HOME.SEARCH_BY_NAME' | translate }}"
          class="input w-full h-14 min-w-56 pl-12"
        />
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <app-card-filter
          [title]="'female'"
          [key]="'FEMALE'"
          [icon]="'👩'"
          [selected]="selectedGender"
          (selectedEvent)="selectGender('female')"
        />

        <app-card-filter
          [title]="'male'"
          [key]="'MALE'"
          [icon]="'👨'"
          [selected]="selectedGender"
          (selectedEvent)="selectGender('male')"
        />

        <app-card-filter
          [title]="'genderless'"
          [key]="'GENDERLESS'"
          [icon]="'🌈'"
          [selected]="selectedGender"
          (selectedEvent)="selectGender('genderless')"
        />

        <app-card-filter
          [title]="'unknown'"
          [key]="'UNKNOWN'"
          [icon]="'🤔'"
          [selected]="selectedGender"
          (selectedEvent)="selectGender('unknown')"
        />
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <app-card-filter
          [title]="'Human'"
          [key]="'HUMAN'"
          [icon]="'🌎'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Human')"
        />
        <app-card-filter
          [title]="'Alien'"
          [key]="'ALIEN'"
          [icon]="'👽'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Alien')"
        />
        <app-card-filter
          [title]="'Robot'"
          [key]="'ROBOT'"
          [icon]="'🤖'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Robot')"
        />
        <app-card-filter
          [title]="'Animal'"
          [key]="'ANIMAL'"
          [icon]="'🐶'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Animal')"
        />
        <app-card-filter
          [title]="'Cronenberg'"
          [key]="'CRONENBERG'"
          [icon]="'🐙'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Cronenberg')"
        />
        <app-card-filter
          [title]="'Humanoid'"
          [key]="'HUMANOID'"
          [icon]="'🐲'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Humanoid')"
        />
        <app-card-filter
          [title]="'Poopybutthole'"
          [key]="'POOPYBUTTHOLE'"
          [icon]="'🥒'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Poopybutthole')"
        />
        <app-card-filter
          [title]="'Mythological Creature'"
          [key]="'MYTHOLOGICAL_CREATURE'"
          [icon]="'🪄'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('Mythological Creature')"
        />
        <app-card-filter
          [title]="'unknown'"
          [key]="'UNKNOWN'"
          [icon]="'🤔'"
          [selected]="selectedSpecies"
          (selectedEvent)="selectSpecie('unknown')"
        />
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <app-card-filter
          [title]="'alive'"
          [key]="'ALIVE'"
          [icon]="'😄'"
          [selected]="selectedStatus"
          (selectedEvent)="selectStatus('alive')"
        />
        <app-card-filter
          [title]="'dead'"
          [key]="'DEAD'"
          [icon]="'😵'"
          [selected]="selectedStatus"
          (selectedEvent)="selectStatus('dead')"
        />
        <app-card-filter
          [title]="'unknown'"
          [key]="'UNKNOWN'"
          [icon]="'🤔'"
          [selected]="selectedStatus"
          (selectedEvent)="selectStatus('unknown')"
        />
      </div>

      <div
        *ngIf="
          selectedSpecies !== '' ||
          selectedStatus !== '' ||
          selectedGender !== ''
        "
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
      >
        <button
          class="group !block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          [appTooltip]="'HOME.RESET' | translate"
          (click)="resetFilter()"
        >
          <div class="leading-none block w-full mb-1 text-xl">⛔</div>
          <div class="text-xs truncate leading-none hidden">
            {{ "HOME.RESET" | translate }}
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
