<div
  id="filtro"
  class="font-poppins fixed md:sticky top-[calc(100%-5rem)] w-full md:top-0 left-0 z-40 overflow-hidden border-t md:border-t-0 border-b-0 md:border-b backdrop-blur-sm bg-background/95"
>
  <div
    class="w-full py-4 flex items-center gap-2 md:gap-4 h-20 overflow-x-auto overflow-y-hidden"
  >
    <div class="container px-2 md:px-8 flex items-center gap-2">
      <div class="flex gap-1 items-center border bg-input/50 rounded-xl p-1">
        <button
          class="!block btn btn-square w-auto h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Favorites"
          [ngClass]="{ '!bg-foreground !text-background': showFavorites }"
          (click)="loadFavoriteItems()"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="showFavorites"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">❤️</div>
          <div class="text-xs truncate leading-none">
            ({{ getFavoritesLength }})
          </div>
        </button>
      </div>

      <div class="relative w-full" [ngClass]="{ disabled: showFavorites }">
        <div class="absolute top-3 left-3 text-xl z-10">🔎</div>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
          placeholder=" {{ 'HOME.SEARCH_BY_NAME' | translate }}"
          class="input w-full h-14 min-w-56 pl-12"
        />
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="female"
          (click)="selectGender('female')"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedGender === 'female'
          }"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedGender === 'female'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">👩</div>
          <div class="text-xs truncate leading-none">Female</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="male"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedGender === 'male'
          }"
          (click)="selectGender('male')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedGender === 'male'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">👨</div>
          <div class="text-xs truncate leading-none">Male</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="genderless "
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedGender === 'genderless'
          }"
          (click)="selectGender('genderless')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedGender === 'genderless'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🌈</div>
          <div class="text-xs truncate leading-none">Genderless</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="gender unknown"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedGender === 'unknown'
          }"
          (click)="selectGender('unknown')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedGender === 'unknown'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🤔</div>
          <div class="text-xs truncate leading-none">Unknown</div>
        </button>
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Human"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Human'
          }"
          (click)="selectSpecie('Human')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Human'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🌎</div>
          <div class="text-xs truncate leading-none">Human</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Alien"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Alien'
          }"
          (click)="selectSpecie('Alien')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Alien'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">👽</div>
          <div class="text-xs truncate leading-none">Alien</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Robot"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Robot'
          }"
          (click)="selectSpecie('Robot')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Robot'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🤖</div>
          <div class="text-xs truncate leading-none">Robot</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Animal"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Animal'
          }"
          (click)="selectSpecie('Animal')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Animal'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🐶</div>
          <div class="text-xs truncate leading-none">Animal</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Cronenberg"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Cronenberg'
          }"
          (click)="selectSpecie('Cronenberg')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Cronenberg'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🐙</div>
          <div class="text-xs truncate leading-none">Cronenberg</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Humanoid"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Humanoid'
          }"
          (click)="selectSpecie('Humanoid')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Humanoid'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🐲</div>
          <div class="text-xs truncate leading-none">Humanoid</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Poopybutthole"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Poopybutthole'
          }"
          (click)="selectSpecie('Poopybutthole')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Poopybutthole'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🥒</div>
          <div class="text-xs truncate leading-none">Poopybutthole</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Mythological Creature"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'Mythological Creature'
          }"
          (click)="selectSpecie('Mythological Creature')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'Mythological Creature'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🪄</div>
          <div class="text-xs truncate leading-none">Mythological Creature</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Unknown"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedSpecies === 'unknown'
          }"
          (click)="selectSpecie('unknown')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedSpecies === 'unknown'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🤔</div>
          <div class="text-xs truncate leading-none">Unknown</div>
        </button>
      </div>

      <div
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
        [ngClass]="{ disabled: showFavorites }"
      >
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Alive"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedStatus === 'alive'
          }"
          (click)="selectStatus('alive')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedStatus === 'alive'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">😄</div>
          <div class="text-xs truncate leading-none">Alive</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Dead"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedStatus === 'dead'
          }"
          (click)="selectStatus('dead')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedStatus === 'dead'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">😵</div>
          <div class="text-xs truncate leading-none">Dead</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="unknown"
          [ngClass]="{
            '!bg-foreground !text-background !border-foreground':
              selectedStatus === 'unknown'
          }"
          (click)="selectStatus('unknown')"
        >
          <span
            class="text-base absolute -top-2 -right-2"
            *ngIf="selectedStatus === 'unknown'"
            title="Remove"
            >⛔</span
          >
          <div class="leading-none block w-full mb-1">🤔</div>
          <div class="text-xs truncate leading-none">Unknown</div>
        </button>
      </div>

      <div
        *ngIf="
          selectedSpecies !== '' ||
          selectedStatus !== '' ||
          selectedGender !== ''
        "
        class="flex gap-1 items-center border bg-input/50 rounded-xl p-1"
      >
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
          title="Reset"
          (click)="resetFilter()"
        >
          <div class="leading-none block w-full mb-1">⛔</div>
          <div class="text-xs truncate leading-none">Reset</div>
        </button>
      </div>
    </div>
  </div>
</div>
