<div class="w-full min-h-[calc(100dvh-4rem)]">
  <div
    class="flex justify-center items-center fixed md:sticky top-[calc(100%-4rem)] md:top-0 left-0 z-50 border-t md:border-t-0 border-b-0 md:border-b w-full backdrop-blur-sm bg-background/95"
  >
    <div class="container flex justify-between items-center gap-2 h-16">
      <div class="flex items-center gap-2">
        <a routerLink="/" class="btn btn-border">
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Back</span>
        </a>
      </div>

      <span class="text-base truncate whitespace-nowrap block"
        >Location {{ locationId }}</span
      >

      <div class="flex justify-between items-center gap-2">
        <button
          [ngClass]="{ disabled: locationId <= 1 }"
          (click)="goToPreviousLocation()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Previous location</span>
        </button>
        <button
          [ngClass]="{ disabled: this.locationId >= this.maxLocation }"
          (click)="goToNextLocation()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="hidden md:block">Next location</span>
          <span class="text-lg leading-none">👉</span>
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="!loadingLocation && !loadingCharacter; else loading"
    class="container py-8 flex flex-col gap-4"
  >
    <ng-container *ngIf="location; else empty">
      <div
        class="group w-full max-w-xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <h3 class="font-semibold text-sm tracking-widest font-creepster">
          📌 Location
        </h3>
        <div class="flex flex-col gap-2">
          <div class="w-full flex gap-2 items-center">
            <span class="text-muted-foreground min-w-24 text-sm">Name:</span>
            <span class="text-sm truncate capitalize">{{
              location?.name
            }}</span>
          </div>

          <div class="w-full flex gap-2 items-center">
            <span class="text-muted-foreground min-w-24 text-sm">Type:</span>
            <span class="text-sm truncate capitalize">{{
              location?.type
            }}</span>
          </div>

          <div class="w-full flex gap-2 items-center">
            <span class="text-muted-foreground min-w-24 text-sm"
              >Dimension:</span
            >
            <span class="text-sm truncate capitalize">{{
              location?.dimension
            }}</span>
          </div>

          <div class="w-full flex gap-2 items-center">
            <span class="text-muted-foreground min-w-24 text-sm"
              >Residents:</span
            >
            <span class="text-sm truncate capitalize">{{
              location?.residents?.length
            }}</span>
          </div>
        </div>
      </div>

      <div
        *ngIf="character"
        class="group w-full max-w-xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <h3 class="font-semibold text-sm tracking-widest font-creepster">
          🐄 Residents
        </h3>
        <div class="text-sm flex gap-2 flex-wrap">
          <ng-container *ngFor="let resident of character">
            <a
              [routerLink]="['/character', resident.id]"
              [title]="resident.name"
            >
              <img
                [src]="resident.image"
                alt="{{ resident.name }}"
                class="w-20 h-20 min-20 rounded-full border border-foreground/40 hover:border-foreground/100 transition-all"
                loading="lazy"
              />
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <div class="container text-center">
    <div
      class="p-10 min-h-[calc(100dvh-4rem-5rem)] flex gap-1 flex-col justify-center items-center"
    >
      <span class="text-2xl mb-2">🌎😭💔</span>
      <h3 class="text-sm text-foreground">No location found!</h3>
      <span class="text-xs text-muted-foreground"
        >Please try searching again.</span
      >

      <a href="/" class="btn btn-white w-auto px-4 text-sm mt-4">
        <span class="text-lg">👈</span>
        <span>Back to home</span>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
