<div class="w-full min-h-[calc(100dvh-4rem)]">
  <app-topbar-actions
    [type]="'location'"
    [id]="locationId"
    [maxId]="maxLocation"
  />

  <div
    class="flex justify-center items-center fixed md:sticky top-[calc(100%-4rem)] md:top-0 left-0 z-50 border-t md:border-t-0 border-b-0 md:border-b w-full backdrop-blur-sm bg-background/95"
  ></div>

  <div class="container px-4 md:px-8 py-8">
    <div
      *ngIf="!loadingLocation && !loadingCharacter; else loading"
      class="max-w-2xl mx-auto flex flex-col gap-4"
    >
      <app-card-location *ngIf="location; else empty" [location]="location" />

      <div
        *ngIf="character?.length; else emptyResidents"
        class="max-w-2xl mx-auto w-full relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <h3
          class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
        >
          <span class="text-xl">🐄</span>
          <span>Residents</span>
        </h3>
        <div class="text-sm flex gap-2 flex-wrap items-center">
          <ng-container *ngFor="let resident of character">
            <app-avatar-characters [avatar]="resident" />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'🌎😭💔'"
    [title]="'No location found!'"
    [subtitle]="'Please try searching again.'"
    [back]="true"
  />
</ng-template>

<ng-template #emptyResidents>
  <div
    class="max-w-2xl mx-auto w-full relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
  >
    <app-empty-result
      [icons]="'👽'"
      [title]="'No residents!'"
      [subtitle]="''"
      [back]="false"
      [fullScreen]="false"
    />
  </div>
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
