<button
  *ngIf="title"
  class="group !block btn btn-square w-auto md:w-12 h-12 min-w-12 px-2 border-none bg-transparent hover:bg-foreground/10 rounded-lg py-0 relative overflow-visible"
  [appTooltip]="'HOME.' + key | translate"
  (click)="select(title)"
  [ngClass]="{
    '!bg-foreground !text-background !border-foreground': selected === title
  }"
>
  <span class="text-base absolute -top-2 -right-2" *ngIf="selected === title"
    >⛔</span
  >
  <div class="leading-none block w-full mb-1 text-lg">{{ icon }}</div>
  <div class="text-xs truncate leading-none block md:hidden capitalize">
    {{ title }}
  </div>
</button>
