<div class="w-full min-h-[calc(100dvh-4rem)]">
  <app-topbar-actions
    [type]="'character'"
    [id]="characterId"
    [maxId]="maxCharacters"
  />

  <ng-container
    *ngIf="
      !loadingCharacter && !loadingLocation && !loadingEpisodes;
      else loading
    "
  >
    <div *ngIf="character; else empty" class="container px-4 md:px-8 py-8">
      <div class="max-w-2xl mx-auto flex flex-col gap-4">
        <app-card-character-detail [character]="character" />

        <app-card-location
          *ngIf="location"
          class="w-full"
          [location]="location"
        />

        <div
          *ngIf="episodes"
          class="w-full relative border rounded-xl text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50 overflow-hidden"
        >
          <h3
            class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
          >
            <span class="text-xl">📽️</span>
            <span>Episodes</span>
          </h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-auto">
            <ng-container *ngFor="let episode of episodes">
              <app-card-episode [episode]="episode" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'👽😭💔'"
    [title]="'No character found!'"
    [subtitle]="'Please try searching again'"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
