<div class="w-full min-h-[calc(100dvh-4rem)]">
  <app-topbar-actions
    [type]="'episode'"
    [id]="episodeId"
    [maxId]="maxEpisode"
  />

  <div
    class="container px-4 md:px-8 py-4 md:py-8 flex flex-col gap-4"
    *ngIf="!loadingEpisode && !loadingCharacter; else loading"
  >
    <ng-container *ngIf="episode; else empty">
      <div
        class="w-full max-w-2xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <div
          class="w-full flex flex-col md:flex-row gap-2 items-center justify-between"
        >
          <h3
            class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
          >
            <span class="text-xl">📽️</span>
            <span>Episode {{ episode?.episode }}</span>
          </h3>
        </div>

        <app-card-episode [episode]="episode" [showInfo]="true" />
      </div>

      <div
        *ngIf="character"
        class="w-full max-w-2xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <h3
          class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
        >
          <span class="text-xl">👨‍🚀</span>
          <span>Characters</span>
        </h3>
        <div class="text-sm flex gap-2 flex-wrap items-center">
          <ng-container *ngFor="let resident of character">
            <app-avatar-characters [character]="resident" />
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'🎞️😭💔'"
    [title]="'No episode found!'"
    [subtitle]="'Please try searching again'"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
