<div class="w-full min-h-[calc(100dvh-4rem)]">
  <div
    class="flex justify-center items-center fixed md:sticky top-[calc(100%-4rem)] md:top-0 left-0 z-50 border-t md:border-t-0 border-b-0 md:border-b w-full backdrop-blur-sm bg-background/95"
  >
    <div class="container flex justify-between items-center gap-2 h-16">
      <div class="flex items-center gap-2">
        <a routerLink="/" class="btn btn-border">
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Back</span>
        </a>
      </div>

      <span class="text-base truncate whitespace-nowrap block"
        >Episode {{ episodeId }}</span
      >

      <div class="flex justify-between items-center gap-2">
        <button
          [ngClass]="{ disabled: episodeId <= 1 }"
          (click)="goToPreviousEpisode()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Previous episode</span>
        </button>
        <button
          [ngClass]="{ disabled: this.episodeId >= this.maxEpisode }"
          (click)="goToNextEpisode()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="hidden md:block">Next episode</span>
          <span class="text-lg leading-none">👉</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container py-8" *ngIf="!loadingEpisode; else loading">
    <div
      *ngIf="episode; else empty"
      class="group w-full max-w-xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
    >
      <div class="w-full flex gap-2 items-center justify-between">
        <h3 class="font-semibold text-sm tracking-widest font-creepster">
          📽️ Episode {{ episode?.episode }}
        </h3>

        <div class="flex items-center justify-center gap-2">
          <span class="text-muted-foreground text-lg">📺 </span>
          <span class="text-xs text-muted-foreground capitalize">{{
            episode?.air_date
          }}</span>
        </div>
      </div>

      <div
        class="border aspect-video rounded-lg p-4 w-full justify-center items-center flex flex-col gap-1 text-center bg-background/60 hover:border-foreground/30 transition-all"
      >
        <span class="text-muted-foreground text-6xl">🎞️ </span>
        <div class="w-full">
          <span class="text-sm capitalize"> {{ episode?.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="container text-center">
    <div
      class="p-10 min-h-[calc(100dvh-4rem-5rem)] flex gap-1 flex-col justify-center items-center"
    >
      <span class="text-2xl mb-2">🎞️😭💔</span>
      <h3 class="text-sm text-foreground">No episode found!</h3>
      <span class="text-xs text-muted-foreground"
        >Please try searching again.</span
      >

      <a href="/" class="btn btn-white w-auto px-4 text-sm mt-4">
        <span class="text-lg">👈</span>
        <span>Back to home</span>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
