<div class="w-full min-h-[calc(100dvh-4rem)]">
  <div
    class="flex justify-center items-center fixed md:sticky top-[calc(100%-4rem)] md:top-0 left-0 z-50 border-t md:border-t-0 border-b-0 md:border-b w-full backdrop-blur-sm bg-background/95"
  >
    <div
      class="container px-4 md:px-8 flex justify-between items-center gap-2 h-16"
    >
      <div class="flex items-center gap-2">
        <a routerLink="/" class="btn btn-border">
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Back</span>
        </a>

        <span
          class="text-sm md:ml-2 truncate whitespace-nowrap block text-muted-foreground"
          >Episode {{ episodeId }}</span
        >
      </div>

      <div class="flex justify-between items-center gap-2">
        <button
          [ngClass]="{ disabled: episodeId <= 1 }"
          (click)="goToPreviousEpisode()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="text-lg leading-none">👈</span>
          <span class="hidden md:block">Previous episode</span>
        </button>
        <button
          [ngClass]="{ disabled: this.episodeId >= this.maxEpisode }"
          (click)="goToNextEpisode()"
          class="btn btn-border w-10 md:w-auto px-0 md:px-3"
        >
          <span class="hidden md:block">Next episode</span>
          <span class="text-lg leading-none">👉</span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="container px-4 md:px-8 py-8 flex flex-col gap-4"
    *ngIf="!loadingEpisode && !loadingCharacter; else loading"
  >
    <ng-container *ngIf="episode; else empty">
      <div
        class="w-full max-w-2xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <div
          class="w-full flex flex-col md:flex-row gap-2 items-center justify-between"
        >
          <h3
            class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
          >
            <span class="text-xl">📽️</span>
            <span>Episode {{ episode?.episode }}</span>
          </h3>
        </div>

        <app-card-episode [episode]="episode" [showInfo]="true" />
      </div>

      <div
        *ngIf="character"
        class="w-full max-w-2xl mx-auto relative border rounded-xl overflow-hidden text-foreground transition-all p-6 flex flex-col gap-6 bg-input/50"
      >
        <h3
          class="font-semibold text-xl text-center md:text-left tracking-widest font-creepster flex items-center gap-2"
        >
          <span class="text-xl">👨‍🚀</span>
          <span>Characters</span>
        </h3>
        <div class="text-sm flex gap-2 flex-wrap items-center">
          <ng-container *ngFor="let resident of character">
            <app-avatar-characters [avatar]="resident" />
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'🎞️😭💔'"
    [title]="'No episode found!'"
    [subtitle]="'Please try searching again'"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
