<ng-container *ngIf="episode">
  <a
    [routerLink]="!showInfo ? ['/episode', episode?.id] : null"
    class="group block text-center"
  >
    <div
      [ngClass]="showInfo ? 'mb-4' : 'mb-1.5 hover:bg-input/80 '"
      class="border relative aspect-video hover:border-foreground/30 min-h-40 overflow-hidden rounded-xl p-4 w-full justify-center items-center flex flex-col gap-1 text-center bg-input/50 transition-all"
    >
      <img
        *ngIf="showInfo && imageCharacter"
        [src]="imageCharacter"
        class="w-full aspect-video object-cover absolute top-0 left-0 -z-10 select-none group-hover:scale-110 transition-all"
        [alt]="episode?.episode"
      />

      <span
        class="absolute top-4 left-4 text-sm capitalize text-muted-foreground group-hover:text-foreground transition-all"
        *ngIf="showInfo"
      >
        {{ episode?.episode }} - {{ episode?.name }}</span
      >
      <span
        class="text-muted-foreground"
        [ngClass]="
          showInfo
            ? 'text-3xl md:text-5xl group-hover:scale-125 transition-all delay-150'
            : 'text-2xl'
        "
      >
        {{ showInfo ? "▶️" : "🎞️" }}
      </span>
      <div class="w-full">
        <span class="text-sm capitalize" *ngIf="!showInfo">{{
          episode?.episode
        }}</span>
      </div>
    </div>
    <div class="text-sm text-muted-foreground" *ngIf="!showInfo">
      {{ episode?.name }}
    </div>
  </a>

  <div
    class="flex flex-col md:flex-row gap-2 items-center justify-between"
    *ngIf="showInfo"
  >
    <div class="flex items-center justify-center gap-2">
      <span class="text-muted-foreground text-lg">📺</span>
      <span class="text-xs text-muted-foreground capitalize">{{
        episode?.air_date
      }}</span>
    </div>

    <div
      class="flex gap-2 items-center justify-center md:justify-end flex-wrap"
    >
      <a
        target="_blank"
        [href]="
          'https://www.netflix.com/search?q=' +
          'Rick and Morty ' +
          episode?.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Netflix
      </a>
      <a
        target="_blank"
        [href]="
          'https://www.primevideo.com/search/ref=atv_nb_sug?ie=UTF8&phrase=' +
          'Rick and Morty ' +
          episode?.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Prime
      </a>
      <a
        target="_blank"
        [href]="
          'https://play.max.com/search/result?q=' +
          'Rick and Morty ' +
          episode?.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Max
      </a>
    </div>
  </div>
</ng-container>
