<ng-container *ngIf="episode">
  <a
    [routerLink]="!showInfo ? ['/episode', episode.id] : null"
    [ngClass]="showInfo ? 'mb-4' : ''"
    class="group relative block text-center border hover:border-foreground bg-input rounded-xl overflow-hidden"
  >
    <div
      class="aspect-video min-h-40 p-4 w-full justify-center items-center flex flex-col gap-1 text-center transition-all"
    >
      <img
        *ngIf="imageCharacter"
        [src]="imageCharacter"
        class="w-full aspect-video h-full object-cover absolute top-0 left-0 select-none group-hover:scale-110 transition-all brightness-[40%] group-hover:brightness-[50%]"
        [alt]="episode.episode"
        loading="lazy"
      />

      <span
        class="absolute text-left top-4 left-4 text-sm capitalize text-white transition-all z-10"
      >
        {{ episode.episode }} - {{ episode.name }}
      </span>
      <span
        class="text-muted-foreground group-hover:scale-125 transition-all delay-150 text-3xl md:text-4xl z-10"
      >
        ▶️
      </span>
    </div>
  </a>

  <div
    class="flex flex-col md:flex-row gap-2 items-center justify-between"
    *ngIf="showInfo"
  >
    <div class="flex items-center justify-center gap-2">
      <span class="text-muted-foreground text-lg">📺</span>
      <span class="text-xs text-muted-foreground capitalize">{{
        episode.air_date
      }}</span>
    </div>

    <div
      class="flex gap-2 items-center justify-center md:justify-end flex-wrap"
    >
      <a
        target="_blank"
        [href]="
          'https://www.netflix.com/search?q=' +
          'Rick and Morty ' +
          episode.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Netflix
      </a>
      <a
        target="_blank"
        [href]="
          'https://www.primevideo.com/search/ref=atv_nb_sug?ie=UTF8&phrase=' +
          'Rick and Morty ' +
          episode.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Prime
      </a>
      <a
        target="_blank"
        [href]="
          'https://play.max.com/search/result?q=' +
          'Rick and Morty ' +
          episode.name
        "
        class="btn btn-border w-auto px-3"
      >
        ▶️ Max
      </a>
    </div>
  </div>
</ng-container>
