<div class="w-full flex flex-col" *ngIf="characters; else empty">
  <div
    id="filtro"
    class="border-b backdrop-blur-sm bg-background/95 z-40 sticky top-0 left-0 w-full py-4 flex items-center gap-4 h-20 overflow-x-auto overflow-y-hidden"
  >
    <div class="container flex items-center gap-4">
      <div class="relative w-full">
        <div class="absolute top-3 left-3 text-xl">🔎</div>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
          placeholder="Pesquisar por nome..."
          class="input w-full h-14 min-w-56 pl-12 bg-transparent"
        />
      </div>

      <div class="flex gap-1 items-center border bg-transparent rounded-xl p-1">
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="female"
          (click)="selectGender('female')"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedGender === 'female'
          }"
        >
          <div class="leading-none block w-full mb-1">♀️</div>
          <div class="text-xs truncate">Female</div>
        </button>
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="male"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedGender === 'male'
          }"
          (click)="selectGender('male')"
        >
          <div class="leading-none block w-full mb-1">♂️</div>
          <div class="text-xs truncate">Male</div>
        </button>
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="genderless "
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedGender === 'genderless'
          }"
          (click)="selectGender('genderless')"
        >
          <div class="leading-none block w-full mb-1">🌳</div>
          <div class="text-xs truncate">Genderless</div>
        </button>
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="gender unknown"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedGender === 'unknown'
          }"
          (click)="selectGender('unknown')"
        >
          <div class="leading-none block w-full mb-1">❔</div>
          <div class="text-xs truncate">Unknown</div>
        </button>
      </div>

      <div class="flex gap-1 items-center border bg-transparent rounded-xl p-1">
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Human"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Human'
          }"
          (click)="selectSpecie('Human')"
        >
          <div class="leading-none block w-full mb-1">🌎</div>
          <div class="text-xs truncate">Human</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 py-0 px-0 border-none bg-transparent rounded-lg"
          title="Alien"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Alien'
          }"
          (click)="selectSpecie('Alien')"
        >
          <div class="leading-none block w-full mb-1">👽</div>
          <div class="text-xs truncate">Alien</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 py-0 px-0 border-none bg-transparent rounded-lg"
          title="Robot"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Robot'
          }"
          (click)="selectSpecie('Robot')"
        >
          <div class="leading-none block w-full mb-1">🤖</div>
          <div class="text-xs truncate">Robot</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 py-0 px-0 border-none bg-transparent rounded-lg"
          title="Animal"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Animal'
          }"
          (click)="selectSpecie('Animal')"
        >
          <div class="leading-none block w-full mb-1">🐶</div>
          <div class="text-xs truncate">Animal</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 py-0 px-0 border-none bg-transparent rounded-lg"
          title="Cronenberg"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Cronenberg'
          }"
          (click)="selectSpecie('Cronenberg')"
        >
          <div class="leading-none block w-full mb-1">🐙</div>
          <div class="text-xs truncate">Cronenberg</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Humanoid"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Humanoid'
          }"
          (click)="selectSpecie('Humanoid')"
        >
          <div class="leading-none block w-full mb-1">🐲</div>
          <div class="text-xs truncate">Humanoid</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Poopybutthole"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Poopybutthole'
          }"
          (click)="selectSpecie('Poopybutthole')"
        >
          <div class="leading-none block w-full mb-1">🥒</div>
          <div class="text-xs truncate">Poopybutthole</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Mythological Creature"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'Mythological Creature'
          }"
          (click)="selectSpecie('Mythological Creature')"
        >
          <div class="leading-none block w-full mb-1">🪄</div>
          <div class="text-xs truncate">Mythological Creature</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Unknown"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedSpecies === 'unknown'
          }"
          (click)="selectSpecie('unknown')"
        >
          <div class="leading-none block w-full mb-1">⁉️</div>
          <div class="text-xs truncate">Unknown</div>
        </button>
      </div>

      <div class="flex gap-1 items-center border bg-transparent rounded-xl p-1">
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Alive"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedStatus === 'alive'
          }"
          (click)="selectStatus('alive')"
        >
          <div class="leading-none block w-full mb-1">😄</div>
          <div class="text-xs truncate">Alive</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Dead"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedStatus === 'dead'
          }"
          (click)="selectStatus('dead')"
        >
          <div class="leading-none block w-full mb-1">😵</div>
          <div class="text-xs truncate">Dead</div>
        </button>

        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="unknown"
          [ngClass]="{
            '!bg-input !text-foreground !border-foreground':
              selectedStatus === 'unknown'
          }"
          (click)="selectStatus('unknown')"
        >
          <div class="leading-none block w-full mb-1">🤔</div>
          <div class="text-xs truncate">Unknown</div>
        </button>
      </div>

      <div class="flex gap-1 items-center border bg-transparent rounded-xl p-1">
        <button
          class="!block btn btn-square w-12 h-12 min-w-12 px-2 border-none bg-transparent rounded-lg"
          title="Favorites"
        >
          <div class="leading-none block w-full mb-1">❤️</div>
          <div class="text-xs truncate">Favorites</div>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!loadingCharacters; else loading">
    <div class="container py-4">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <a
          *ngFor="let character of filteredCharacters"
          class="group relative border rounded-xl overflow-hidden bg-card hover:border-foreground/30 transition-all cursor-pointer"
          [routerLink]="['/character', character.id]"
        >
          <img
            [src]="character?.image"
            alt="{{ character?.name }}"
            class="w-full h-auto group-hover:scale-110 transition-all"
          />
          <div
            class="overflow-hidden absolute p-4 left-0 bottom-0 w-full bg-gradient-to-t from-black/80 from-0% via-black/30 via-50% hover:via-40% to-black/10 hover:to-black/0 to-100% transition-all h-full flex flex-col justify-end"
          >
            <button
              class="btn bg-background/60 backdrop-blur-sm h-10 w-10 text-lg border absolute top-2 right-2 z-10 border-none"
            >
              <!-- ❤️ -->
              🤍
            </button>

            <h3 class="text-2xl font-bold mb-2 text-white">
              {{ character?.name }}
            </h3>
            <div class="flex flex-wrap gap-1">
              <div
                class="badge"
                [title]="'Status: ' + character?.status"
                *ngIf="character?.status"
              >
                {{
                  character?.status === "Alive"
                    ? "😄"
                    : character?.status === "Dead"
                    ? "😵"
                    : "🤔"
                }}
              </div>

              <div
                class="badge"
                [title]="'Specie: ' + character?.species"
                *ngIf="character?.species"
              >
                {{
                  character?.species === "Human"
                    ? "🌎"
                    : character?.species === "Alien"
                    ? "👽"
                    : character?.species === "Robot"
                    ? "🤖"
                    : character?.species === "Animal"
                    ? "🐶"
                    : character?.species === "Cronenberg"
                    ? "🐙"
                    : character?.species === "Humanoid"
                    ? "🐲"
                    : character?.species === "Poopybutthole"
                    ? "🥒"
                    : character?.species === "Mythological Creature"
                    ? "🪄"
                    : character?.species === "unknown"
                    ? "⁉️"
                    : character?.species
                }}
              </div>

              <div
                class="badge"
                [title]="'Gender: ' + character?.gender"
                *ngIf="character?.gender"
              >
                {{
                  character?.gender === "Female"
                    ? "♀️"
                    : character?.gender === "Male"
                    ? "♂️"
                    : character?.gender === "Genderless"
                    ? "🌳"
                    : "❔"
                }}
              </div>

              <div
                class="badge"
                [title]="'Type: ' + character?.type"
                *ngIf="character?.type"
              >
                🔎
              </div>

              <div
                class="badge"
                [title]="'Location: ' + character?.location?.name"
                *ngIf="character?.location?.name"
              >
                📍
              </div>
              <div
                class="badge"
                [title]="'Origin: ' + character?.origin?.name"
                *ngIf="character?.origin?.name"
              >
                🍼
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div
      class="border-t backdrop-blur-sm bg-background/95 z-40 sticky bottom-0 left-0 w-full"
    >
      <div class="container flex justify-end gap-2 items-center h-16">
        <div class="text-xs text-muted-foreground">
          {{ currentPage }}/{{ totalPages }}
        </div>
        <button
          (click)="previousPage()"
          [disabled]="currentPage === 1"
          class="btn border bg-transparent"
        >
          👈
        </button>

        <select (change)="onPageSelect($event)" class="input">
          <option
            *ngFor="let page of pagesArray"
            [value]="page"
            [selected]="page === currentPage"
          >
            Página {{ page }}
          </option>
        </select>
        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
          class="btn border bg-transparent"
        >
          👉
        </button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="container text-center">
    <div
      class="p-10 text-muted-foreground min-h-[calc(100vh-4rem)] flex justify-center items-center"
    >
      <img src="/loading.gif" width="280" alt="" />
    </div>
  </div>
</ng-template>

<ng-template #empty>
  <div class="container text-center">
    <div
      class="p-10 text-muted-foreground min-h-[calc(100vh-4rem)] flex gap-2 flex-col justify-center items-center"
    >
      <span class="text-4xl">😭💔</span>
      <span>No characters found!</span>
    </div>
  </div>
</ng-template>
