<div
  class="sticky md:relative z-[60] top-0 left-0 w-full h-16 backdrop-blur-sm bg-background/95 border-b flex justify-center items-center"
>
  <div class="container flex items-center justify-between gap-2">
    <div class="flex items-center gap-2">
      <a routerLink="/" class="block mr-4">
        <img
          src="./logo.png"
          width="114"
          class="w-full max-w-[114px]"
          alt="Logo Rick And Morty"
        />
      </a>

      <a
        class="btn btn-border px-0 py-0 md:px-3 md:py-3 w-10 md:w-auto"
        routerLinkActive="!bg-red-200"
        [routerLink]="'/'"
        [routerLinkActive]="[
          '!text-background',
          '!bg-foreground',
          'router-active'
        ]"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="text-lg">🏠</span>
        <span class="hidden md:block">Home</span>
      </a>

      <a
        class="btn btn-border px-0 py-0 md:px-3 md:py-3 w-10 md:w-auto"
        href="https://gus.vision/#contact"
        target="_blank"
      >
        <span class="text-lg">🗯️</span>
        <span class="hidden md:block">Feedback</span>
      </a>
      <a
        class="btn btn-border px-0 py-0 md:px-3 md:py-3 w-10 md:w-auto"
        href="https://github.com/gustavoquinalha/rickandmorty"
        target="_blank"
      >
        <span class="text-lg">⭐</span>
        <span class="hidden md:block">Github</span>
      </a>
    </div>

    <div class="group relative inline-block text-left z-50">
      <div>
        <button
          class="btn btn-border px-0 py-0 md:px-3 md:py-3 w-10 md:w-auto"
          id="theme-button"
        >
          <span class="text-lg">🎨</span>
          <span class="hidden md:block">Theme</span>
          <span class="text-xs hidden md:block">▼</span>
        </button>
      </div>

      <div
        class="hidden group-hover:block absolute right-0 z-[60] w-56 origin-top-right"
      >
        <div
          class="rounded-xl mt-2 border bg-background backdrop-blur-sm shadow-lg"
        >
          <div class="p-2 flex flex-col gap-1">
            <div
              class="px-4 py-1 rounded-lg flex gap-2 items-center transition-all"
            >
              <span class="text-lg">🖌️</span>
              <span class="text-sm text-muted-foreground">Select theme</span>
            </div>
            <div
              class="px-4 py-2 hover:bg-foreground/10 border border-transparent rounded-lg flex gap-2 items-center transition-all cursor-pointer"
              (click)="onThemeSelect('dark')"
              [ngClass]="{
                '!bg-foreground !text-background border-border': selectedTheme === 'dark'
              }"
              title="Dark"
              selected
            >
              <span class="text-lg">🌑</span>
              <span class="text-sm">Dark</span>
            </div>
            <div
              class="px-4 py-2 hover:bg-foreground/10 border border-transparent rounded-lg flex gap-2 items-center transition-all cursor-pointer"
              (click)="onThemeSelect('light')"
              [ngClass]="{
                '!bg-foreground !text-background border-border': selectedTheme === 'light'
              }"
              title="Light"
            >
              <span class="text-lg">☀️</span>
              <span class="text-sm">Light</span>
            </div>
            <div
              class="px-4 py-2 hover:bg-foreground/10 border border-transparent rounded-lg flex gap-2 items-center transition-all cursor-pointer"
              (click)="onThemeSelect('pickle-rick')"
              [ngClass]="{
                '!bg-foreground !text-background border-border': selectedTheme === 'pickle-rick'
              }"
              title="Pickle-Rick"
            >
              <span class="text-lg">🥒</span>
              <span class="text-sm">Pickle Rick</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
