<a
  [routerLink]="['/character', character.id]"
  *ngIf="character"
  [ngClass]="showGrid ? '' : 'grid grid-cols-2 items-stretch'"
  class="block group h-full relative border rounded-xl overflow-hidden bg-card hover:border-foreground/30 transition-all"
>
  <div class="absolute top-2 right-2 z-10 flex items-center gap-1">
    <button
      (click)="toggleFavorite($event, character.id)"
      class="btn bg-background/60 backdrop-blur-sm w-8 h-8 min-w-8 text-lg p-0 border-none"
    >
      {{ isFavorite(character.id) ? "❤️" : "🤍" }}
    </button>
  </div>

  <div class="aspect-square bg-foreground overflow-hidden w-full">
    <img
      [src]="character.image"
      alt="{{ character.name }}"
      class="aspect-square w-full h-full object-cover object-center group-hover:scale-110 transition-all"
    />
  </div>

  <div
    [ngClass]="{
      'absolute left-0 bottom-0 bg-gradient-to-t from-black/80 from-0% via-transparent via-80% hover:via-40% to-transparent to-100%':
        showGrid
    }"
    class="w-full transition-all h-full"
  >
    <div
      [ngClass]="showGrid ? 'justify-end' : '!p-6 !gap-4'"
      class="p-2 flex gap-1 flex-col h-full"
    >
      <div
        [ngClass]="{ '!text-2xl': !showGrid }"
        class="text-xl font-bold text-white tracking-widest font-creepster"
      >
        {{ character.name }}
      </div>

      <div class="flex flex-wrap gap-1">
        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Gender: ' + character.gender"
          *ngIf="character.gender"
        >
          {{
            character.gender === "Female"
              ? "👩"
              : character.gender === "Male"
              ? "👨"
              : character.gender === "Genderless"
              ? "🌳"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.gender
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Status: ' + character.status"
          *ngIf="character.status"
        >
          {{
            character.status === "Alive"
              ? "😄"
              : character.status === "Dead"
              ? "😵"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.status
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Specie: ' + character.species"
          *ngIf="character.species"
        >
          {{
            character.species === "Human"
              ? "🌎"
              : character.species === "Alien"
              ? "👽"
              : character.species === "Robot"
              ? "🤖"
              : character.species === "Animal"
              ? "🐶"
              : character.species === "Cronenberg"
              ? "🐙"
              : character.species === "Humanoid"
              ? "🐲"
              : character.species === "Poopybutthole"
              ? "🥒"
              : character.species === "Mythological Creature"
              ? "🪄"
              : character.species === "unknown"
              ? "🤔"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.species
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Type: ' + character.type"
          *ngIf="character.type"
        >
          🔎
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.type
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Location: ' + character.location.name"
          *ngIf="character.location.name"
        >
          📌
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.location.name
          }}</span>
        </div>
        <div
          [ngClass]="{ '!w-8 h-8 min-w-8 !px-0 !text-lg': showGrid }"
          class="badge w-auto px-4 text-sm"
          [title]="'Origin: ' + character.origin.name"
          *ngIf="character.origin.name"
        >
          👶
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.origin.name
          }}</span>
        </div>
      </div>
    </div>
  </div>
</a>
