<a
  [routerLink]="['/character', character.id]"
  *ngIf="character"
  [ngClass]="showGrid ? '' : ''"
  class="group block relative text-center border hover:border-foreground bg-input rounded-xl overflow-hidden"
>
  <div
    class="min-h-64 w-full justify-end items-start flex flex-col gap-1 text-center transition-all"
  >
    <div class="absolute top-2 right-2 z-10 flex items-center gap-1">
      <button
        (click)="toggleFavorite($event, character.id)"
        class="btn bg-background/60 backdrop-blur-sm w-8 h-8 min-w-8 text-lg p-0 border-none"
      >
        {{ isFavorite(character.id) ? "❤️" : "🤍" }}
      </button>
    </div>

    <img
      *ngIf="character.image"
      [src]="character.image"
      [ngClass]="showGrid ? 'aspect-square' : ''"
      class="w-full h-full object-cover absolute top-0 left-0 select-none group-hover:scale-110 transition-all brightness-[60%] group-hover:brightness-[70%]"
      [alt]="character.name"
      loading="lazy"
    />

    <div
      [ngClass]="showGrid ? '' : '!p-6'"
      class="p-4 flex gap-1 flex-col justify-end items-start h-full w-full"
    >
      <div
        [ngClass]="{ '!text-2xl': !showGrid }"
        class="block text-xl font-bold text-white tracking-widest font-creepster z-10"
      >
        {{ character.name }}
      </div>

      <div class="flex flex-wrap gap-1 z-10">
        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Gender: ' + character.gender"
          *ngIf="character.gender"
        >
          {{
            character.gender === "Female"
              ? "👩"
              : character.gender === "Male"
              ? "👨"
              : character.gender === "Genderless"
              ? "🌳"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.gender
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Status: ' + character.status"
          *ngIf="character.status"
        >
          {{
            character.status === "Alive"
              ? "😄"
              : character.status === "Dead"
              ? "😵"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.status
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Specie: ' + character.species"
          *ngIf="character.species"
        >
          {{
            character.species === "Human"
              ? "🌎"
              : character.species === "Alien"
              ? "👽"
              : character.species === "Robot"
              ? "🤖"
              : character.species === "Animal"
              ? "🐶"
              : character.species === "Cronenberg"
              ? "🐙"
              : character.species === "Humanoid"
              ? "🐲"
              : character.species === "Poopybutthole"
              ? "🥒"
              : character.species === "Mythological Creature"
              ? "🪄"
              : character.species === "unknown"
              ? "🤔"
              : "🤔"
          }}
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.species
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Type: ' + character.type"
          *ngIf="character.type"
        >
          🔎
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.type
          }}</span>
        </div>

        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Location: ' + character.location.name"
          *ngIf="character.location.name"
        >
          📌
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.location.name
          }}</span>
        </div>
        <div
          [ngClass]="{ '!w-8 !h-8 min-w-8 !px-0 !py-0 !text-lg': showGrid }"
          class="badge w-auto px-2 py-1 h-auto text-sm"
          [title]="'Origin: ' + character.origin.name"
          *ngIf="character.origin.name"
        >
          👶
          <span class="ml-2 truncate h-min" *ngIf="!showGrid">{{
            character.origin.name
          }}</span>
        </div>
      </div>
    </div>
  </div>
</a>
