<div class="container py-8" *ngIf="!loadingFavorites; else loading">
  <div *ngIf="favoriteItems.length > 0; else empty">
    <h2 class="text-xl font-medium tracking-widest font-creepster mb-4">
      ❤️ Your Favorite Characters ({{ getFavoritesLength }})
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
    >
      <ng-container *ngFor="let character of favoriteItems">
        <app-card-character
          [character]="character"
          [showGrid]="true"
          (favoriteChange)="loadFavoriteItems()"
        ></app-card-character>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #empty>
  <app-empty-result
    [icons]="'😭💔'"
    [title]="'Looks like you dont have any favorites yet!'"
    [subtitle]="'Go back to the home page and choose the best ones for you.'"
    [back]="true"
  />
</ng-template>

<ng-template #loading>
  <app-loading />
</ng-template>
